
 @media (max-width: 767.98px) {
    .border-bt{
        border-bottom: none;
    }
    .border-lf , .border-rh{
        display: none;
    }
}
 @media (max-width: 1023.98px) {
    .border-bt{
        border-bottom: none;
    }
    .border-lf , .border-rh{
        display: none;
    }
}

