@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/* Custom Utilities */
@utility container {
    margin:0 auto;
    padding-inline: 2.8125rem;
/*     
    .border-bt {
        border-bottom: 2px solid transparent;
        border-image: linear-gradient(to right, #F0B71F, #E03609) 1;
    }
    .border-lf {
        border-left: 2px solid transparent;
        border-image: linear-gradient(to right, #F0B71F, #E03609) 1;
    } */
}

/* Custom Theme Variables */
@theme {
    /* color */
    --color-fw: #ffffff;
    --color-lb: #010101;
    /* font */
    --font-orbitron: "Orbitron", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
}


/* Base Layer */
@layer base {
    body {

        font-family: var(--font-montserrat);
        background: var(--color-lb);
        color: var(--color-fw);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-orbitron);
        color: var(--fw);
    }

    p {
        @apply font-montserrat font-medium text-[18px] leading-9;
    }
}

@layer components {
    /* .u-red{
        mask-image: url("../image/dy.png");
       background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 780px;
        position: absolute;
        z-index: 1000;
    } */
    .liniar_bg {
        @apply bg-linear-to-r from-[#F0B71F] to-[#E03609] fill-transparent bg-clip-text;
        -webkit-text-fill-color: transparent;
    }

    .section-image-6 {
        background-image: url('../image/Image-6.png');
        /* CSS-এর তুলনায় path এক স্তর উপরে */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 780px;
    }

    .border-bt {
        border-bottom: 2px solid transparent;
        border-image: linear-gradient(to right, #F0B71F, #E03609) 1;
        /* @apply hidden md:inline-block; */
    }
    .border-lf {
        /* @apply border-none md:block; */
        border-left: 2px solid transparent;
        border-image: linear-gradient(to right, #F0B71F, #E03609) 1;
    }
    .border-rh {
        border-right: 2px solid transparent;
        border-image: linear-gradient(to right, #F0B71F, #E03609) 1;
          /* @apply hidden sm:block; */
    }
    .border-tp {
        border-top: 2px solid transparent;
        border-image: linear-gradient(to right, #F0B71F, #E03609) 1;
          /* @apply hidden md:inline-block; */
    }

    .border-all {
        position: relative;
    }

    .border-all::before {
        content: "";
        position: absolute;
        inset: 0;
        padding: 2px;
        /* 2px border */
        border-radius: 12px;
        background: linear-gradient(to right, #F0B71F, #E03609);
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }

    .gradient-bg {
        background: linear-gradient(to right, #F0B71F, #E03609);
        padding: 2px;
        border-radius: 12px;
    }
}